.word {
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 20pt;
}

.default-outline {
    -fx-border-color: blue;;
    -fx-border-width: 2px;
}

.word-selected {
    -fx-font-family: Chandas;
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 20pt;
}

.highlight {
    -fx-text-fill: rgba(0, 0, 0, 0.7);
}

.highlight-selected {
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.search {
}

.search-selected {
    -fx-text-fill: yellow;
}

.chain-selected-judge {
    -fx-text-fill: blue;
}

.chain-selected-judge-highlight {
    -fx-text-fill: red;
}

.chain {
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 14pt;
}

.chain-selected {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 14pt;
}

.default-background {
    -fx-background-color: burlywood;
}

.button-font {
    -fx-opacity: 1;
    -fx-font-family: Arial;
    -fx-text-fill: silver;
    -fx-background-color: grey;
    -fx-font-size: 10pt;
}