.root {
    -fx-base: white;
}

.word {
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 20pt;
}

.word-selected {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 20pt;
}

.highlight {
    -fx-text-fill: rgba(0, 0, 0, 0.7);
}

.highlight-selected {
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.search {
}

.search-selected {
    -fx-text-fill: yellow;
}

.chain-selected-judge {
    -fx-text-fill: blue;
}


.chain {
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 14pt;
}

.chain-selected {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 14pt;
}