.word {
    -fx-padding: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0,0,0,0);
    -fx-font-size: 20pt;
}

#waiting1 {
    -fx-background-image: url("Waiting/1.png");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#waiting2 {
    -fx-background-image: url("Waiting/2.png");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#waiting3 {
    -fx-background-image: url("Waiting/3.png");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#waiting4 {
    -fx-background-image: url("Waiting/4.png");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#waiting5 {
    -fx-background-image: url("Waiting/5.png");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#waiting6 {
    -fx-background-image: url("Waiting/6.png");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}

#waiting7 {
    -fx-background-image: url("Waiting/7.png");
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}


.default-outline {
    -fx-border-color: blue;
    -fx-border-width: 2px;
}

.word-selected {
    -fx-padding: 0, 0, 0, 0;
    -fx-border-width: 1px;
    -fx-border-color: red;
    -fx-font-size: 20pt;
}

.highlight {
    -fx-text-fill: rgba(0, 0, 0, 0.7);
}

.highlight-selected {
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.search {
}

.search-selected {
    -fx-text-fill: yellow;
}

.chain-selected-judge {
    -fx-text-fill: blue;
}

.chain-selected-judge-highlight {
    -fx-text-fill: red;
}

.chain {
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 14pt;
}

.chain-selected {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-padding: 0, 0, 0, 0;
    -fx-font-size: 14pt;
}

.default-background {
    -fx-background-color: burlywood;
}

.button-font {
    -fx-opacity: 1;
    -fx-font-family: Arial;
    -fx-text-fill: silver;
    -fx-background-color: grey;
    -fx-font-size: 10pt;
}